<div class="container.entertainement">
  <h1 id="title-entertainment">Événements à venir</h1>

  <div class="button">
    <button class="btn-map">Liste | Carte</button>
  </div>

  <div class="entertainments-cards">
    <% @entertainments.each do |entertainment| %>
      <div class="entertainment-card">
        <% if entertainment.event.photo.attached? %>
          <%= cl_image_tag(entertainment.event.photo.key, height: 160, width: 250, crop: :fill, alt: "Image de l'événement", class: "card-image") %>
        <% end %>
        <div class="card-content">
          <h3><%= entertainment.event.name %></h3>
          <p><%= entertainment.event.date%> | <%=entertainment.event.address%></p>
          <p><%= entertainment.event.musical_styles.join(', ') %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
