<div class="container.entertainement">

  <div class="container-header">
      <%= link_to root_path do %>
        <%= image_tag "lyltatent_logo.png", alt: "Ma photo", class: "lyl-logo-entertainments" %>
      <% end %>
      <%= link_to "#", class: "top-right-btn btn-orga" do %>
        Organisateur
      <% end %>
  </div>

  <div class="search-bar">
    <%= form_with url: entertainments_path, method: :get, class: "search-form", local: true do %>
        <div class="input-wrapper">
          <%= text_field_tag :query, params[:query], class: "search-input", placeholder: "Tape une ville..." %>
          <button type="submit" class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
    <% end %>
  </div>

  <h1 id="title-entertainment">Événements à venir</h1>
    <p id="sous-entertainment">En Recherche d'Artiste</p>

  <div class="button">
    <%= link_to "Liste | Carte", map_entertainments_path, class: "btn-white" %>
  </div>

  <div class="entertainments-cards">
    <% @entertainments.each do |entertainment| %>
      <%= link_to entertainment_path(entertainment), class: "entertainment-card-link" do %>
        <div class="entertainment-card">
          <div class="artist-search-overlay">
            <%= entertainment.artist_type %>
          </div>
          <% if entertainment.event.photo.attached? %>
            <%= cl_image_tag(entertainment.event.photo.key, height: 160, width: 250, crop: :fill, alt: "Image de l'événement", class: "card-image") %>
          <% else %>
            <%= image_tag "default_event.jpg", alt: "Image par défaut" %>
          <% end %>
          <div class="card-content">
            <h3><%= entertainment.event.name %></h3>
            <p id="date_address"><%= entertainment.event.date%> | <%=entertainment.event.address%></p>
            <p id="musical_styles"><%= entertainment.event.musical_styles.join(', ') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
