<div id='entertainment-container'>
  <div class="event-image-container">
    <% if @entertainment.event.photo.attached? %>
          <%= cl_image_tag @entertainment.event.photo.key, height: 300, width: 300, crop: :fill, class: 'event-image'%>
    <% end %>
  </div>

  <div class="text-container">
    <h2 class="text-center text-bold"><%= @entertainment.event.name %></h2>
    <br>


  <h4><%= @entertainment.event.description %></h4>
  <br>
    <p><i class="fa-solid fa-calendar-days me-2"></i><%= l(@entertainment.event.date, format: '%d/%m/%Y') %></p>
    <p><i class="fa-solid fa-clock me-2"></i>De: <%= l(@entertainment.starts_at, format: '%Hh%M' ) %></p>
    <p><i class="fa-solid fa-clock me-2"></i>À: <%= l(Time.at(@entertainment.duration_in_minutes * 60).utc, format: '%Hh%M') %></p>
     <p><i class="fa-solid fa-hourglass-start me-2"></i>Durée: <%= l(Time.at(@entertainment.event.duration * 60).utc, format: '%Hh%M') %></p>
    <p> <i class="fa-solid fa-people-group me-2"></i> Public attendu: <%= @entertainment.event.estimated_public_in_number %> personnes
    et l'âge est d'environ <%= @entertainment.event.public_age %> ans</p>



      <div class='musical-style-card-container'>
        <% @entertainment.event.musical_styles.each do |style| %>
           <div class='musical-style-card'><%= style %></div>
        <% end %>
      </div>

    <div class='separator'></div>

    <div class="condition-container">
    <p class="text-bold"> Rémunération :</p>

    <%= @entertainment.planned_remuneration%> <i class="fa-solid fa-scale-balanced"></i>

    <% if @entertainment.planned_remuneration_in_euros.present? %>
      <p><%= @entertainment.planned_remuneration_in_euros %> <i class="fa-solid fa-euro-sign"></i></p>
    <% end %>

    <p class="text-bold">Sont pris en charge:</p>
      <%= @entertainment.included_services.join(', ') %>
  </div>


<div class="flex-space-between">
    <% if @is_proposed %>
        <%=  link_to "Accepter",first_accept_entertainment_application_path(@is_proposed), class:"bottom-middle-btn", data: {turbo_method: :patch}%>
        <%=  link_to "Refuser", refused_entertainment_application_path(@is_proposed), class:"bottom-middle-btn", data: { turbo_confirm: "Es-tu sûr de vouloir refuser ce spectacle ?", turbo_method: :patch } %>
    <% elsif @user_has_applied %>
        <%= link_to chat_path(@entertainment_chat), class: "btn-rounded" do %>
          <i class="fa-solid fa-message"></i>
        <% end %>

        <%= link_to entertainment_application_path(@entertainment_application),
                    data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette candidature ?" },
                    class: "btn-rounded" do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>

    <% else %>
      <%= link_to "Postuler", new_entertainment_entertainment_application_path(@entertainment), class: "bottom-middle-btn" %>
    <% end %>
  </div>


    <div class="text-bold-center">
      <h4>Ils participent à l'événement</h4>
    </div>
  </div>

  <div class="user-image-container">
    <% @entertainment_applications.each do |entertainment_application| %>
      <%= cl_image_tag entertainment_application.user.photos.first.key, height: 300, width: 300, crop: :fill, class: 'user-image'%>
    <% end %>

    <% if @artist_number.present? %>
      <% @artist_number.times do %>
        <%= image_tag "profile-base.png", alt: "profile par défaut", class: 'user-image' %>
      <% end %>
    <% end %>
  </div>

</div>
