<%# refresh %>
<% if message.user == user %>
  <div id="message-<%= message.id %>"class="message-row ">
    <div class="entertainment-card">
      <p><%= message.content %></p>
    </div>
    <%= cl_image_tag message.user.photos.first.key, class: 'message-avatar' %>
  </div>
<% else %>
  <div id="message-<%= message.id %>"class="message-row ">
    <%= cl_image_tag message.user.photos.first.key, class: 'message-avatar' %>
    <div class="entertainment-card">
      <p><%= message.content %></p>
    </div>
  </div>
<% end %>
