<%= simple_form_for @epk, url: epk_path, html: { multipart: true } do |f| %>
  <h1>Modifier l’EPK</h1>

  <%= f.input :artist_name, label: "Nom de l'artiste" %>

  <%= f.input :artist_type, collection: ['soliste', 'groupe', 'DJ'], prompt: "Sélectionnez un type" %>

  <%= f.input :instruments, input_html: { value: @epk.instruments.join(", ") }, hint: "Séparez les instruments par des virgules" %>

  <%= f.input :musical_styles, input_html: { value: @epk.musical_styles.join(", ") }, hint: "Séparez les styles musicaux par des virgules" %>

  <%= f.input :original_composition, as: :boolean, label: "Compositions originales ?" %>

  <%= f.input :covers, as: :boolean, label: "Fait des reprises ?" %>

  <%= f.input :bio, as: :text %>

  <%= f.input :videos, as: :file, input_html: { multiple: true }, label: "Vidéos", hint: "Ajouter une ou plusieurs vidéos" %>

  <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Photos", hint: "Ajouter une ou plusieurs photos" %>

  <%= f.input :description_experience, as: :text, label: "Expérience" %>

  <%= f.input :concert_number, as: :integer, label: "Nombre de concerts" %>

  <%= f.input :description_education, as: :text, label: "Biographie musicale" %>

  <%= f.input :tools, as: :text, label: "Matériel possédé" %>

  <%= f.input :tools_needed, as: :text, label: "Matériel nécessaire" %>

  <%= f.input :vehicule, as: :boolean, label: "Véhiculé ?" %>

  <%= f.input :legal_entity_type, label: "Statut légal" %>

  <%= f.input :siret, label: "SIRET" %>

  <%= f.input :phone_number, label: "Téléphone" %>

  <%= f.input :instagram_url %>
  <%= f.input :facebook_url %>
  <%= f.input :spotify_url %>
  <%= f.input :youtube_url %>

  <%= f.input :address, label: "Adresse" %>

  <%= f.button :submit, "Enregistrer les modifications", class: "btn btn-primary" %>
<% end %>
