<section class="splide" data-controller="photo-carroussel" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
      <% @epk.videos.each do |video| %>
        <li class="splide__slide">
          <%= video_tag url_for(video), controls: true, size: "360x780", alt: @epk.artist_name, class: "video_fullscreen" %>
        </li>
      <% end %>
		</ul>
  </div>
</section>


<div class="text-center">
  <h1><%= @epk.artist_name %></h1>
  <h2>
    <%= @epk.artist_type %> - <% @epk.instruments.each do |instrument| %>
      <%= instrument %>
    <% end %>
  </h2>

  <h3><%= @epk.musical_styles.join(", ") %></h3>
</div>
<br>

<div class="text-bold-center">
  <% if @epk.original_composition && @epk.covers %>
    <%= "Compositions originales et reprises" %>
  <% elsif @epk.original_composition && !@epk.covers %>
    <% if @epk.artist_type == "soliste" %>
      <%= "Spécialisé en compositions originales" %>
    <% elsif @epk.artist_type == "groupe" %>
      <%= "Spécialisés en compositions originales" %>
    <% else %>
      <%= "un DJ set original" %>
    <% end %>
  <% elsif !@epk.original_composition && @epk.covers %>
    <% if @epk.artist_type == "soliste" %>
      <%= "Spécialisé en reprises" %>
    <% elsif @epk.artist_type == "groupe" %>
      <%= "Spécialisés en reprises" %>
    <% else %>
      <%= "uniquement des musiques que vous connaissez" %>
    <% end %>
  <% end %>
</div>
<div class="text-center">
  <%= @epk.bio %>
</div>

<br>

<section class="splide" data-controller="carousel" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
		<ul class="splide__list">
        <% @epk.photos.each do |photo| %>
          <li class="splide__slide">
            <div class="link-light download-btn-photo">
              <%= link_to url_for(photo), download: "" do %>
                <i class="fa-solid fa-download"></i>
              <% end %>
            </div>
            <%= image_tag url_for(photo), alt: @epk.artist_name, class: "artist-photo-epk"%>

          </li>
        <% end %>
		</ul>
  </div>
</section>

<br>
<br>


  <h3>Expérience</h3>
  <%= @epk.description_experience %>
  <%= @epk.concert_number %>
  <br>
  <br>
  <h3>Biographie musicale</h3>
  <%= @epk.description_education %>
</div>

<div class="condition-container">
  <h2>Fiche technique</h2>
  Je possède : <%= @epk.tools %>
  <br>
  <br>
  Il faudra me fournir : <%= @epk.tools_needed %>
  <%= @epk.vehicule ? "véhiculé" : "non-véhiculé" %>
  <br>
  <br>
  <h2>Statut légal</h2>
  <%= @epk.legal_entity_type %>
  <br>
  <p>SIREN: <%= @epk.siret %> </p>

  <h3>Contact</h3>
  <%= @epk.artist_name %> : <%= @epk.phone_number %>
</div>

<div class="flex-space-around link-light">
  <%= link_to @epk.instagram_url, target: "_blank"  do %>
    <i class="fa-brands fa-instagram"></i>
  <% end %>
  <%= link_to @epk.facebook_url, target: "_blank" do %>
    <i class="fa-brands fa-facebook"></i>
  <% end %>

  <%= link_to @epk.spotify_url, target: "_blank" do %>
    <i class="fa-brands fa-spotify"></i>
  <% end %>

  <%= link_to @epk.youtube_url, target: "_blank" do %>
    <i class="fa-brands fa-youtube"></i>
  <% end %>
</div>

<%# à mettre en bas de page, coin gauche %>
<div class="musical-style-card">
  <%= @epk.address %>
</div>
