<div class="container-message">
  <h1 class="message">Messagerie</h1>
</div>
<div class="chat-cards">
  <% @chats.each_with_index do |chat, index| %>
    <% event = chat.entertainment_application.entertainment.event %>

    <%= link_to chat_path(chat), class: "application-card" do %>
      <!-- Avatar -->
      <div class="application-card-avatar">
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, height: 60, width: 60, crop: :fill, class: "user-image" %>
        <% else %>
          <%= image_tag "default_event.jpg", alt: "Image par défaut", class: "user-image" %>
        <% end %>
      </div>

      <!-- Contenu -->
      <div class="application-card-content">
        <h2 class="application-card-name"><%= event.name %></h2>

         <%# pour mettre les msg non lu en bold voir css  %>
        <p class="application-card-last-message <%= 'unread-message' if chat.messages.last && chat.messages.last.user != current_user %>"></p>

         <%# pour mettre les msg non lu en bold  %>
        <p class="application-card-last-message <%= 'unread-message' if chat.messages.last && chat.messages.last.user != current_user %>">

          <% if chat.messages.any? %>
            <% last_msg = chat.messages.last %>
            <%= last_msg.content.first(20) %>
            <%= "..." if last_msg.content.size > 20 %>
          <% else %>
            <em>Aucun message</em>
          <% end %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
