<div class="message-container">
  <% @messages.each do |message| %>
    <% if message.user == current_user %>
      <div class="message-row current-user">
        <div class="entertainment-card">
          <p><%= message.content %></p>
        </div>
        <%= cl_image_tag message.user.photos.first.key, class: 'message-avatar' %>
      </div>
    <% else %>
    <div class="message-row event-planner">
      <%= cl_image_tag message.user.photos.first.key, height: 50, width: 50, crop: :fill, class: 'rounded-circle' %>
      <div class="entertainment-card">
        <p><%= message.content %></p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<% if @user_has_applied%>
  <div class='message-form mt-4'>
    <%= simple_form_for [@chat, Message.new], local: true do |f| %>
      <div class="message-input-container">
        <%= f.input :content,
          placeholder: "Tapez votre message...",
          input_html: { class: "message-input" },
          label: false %>
          <%= f.submit ">", class: "message-submit-btn" %>
      </div>
    <% end %>
  </div>
<% end %>
