<%= month_calendar(attribute: :starts_at, events: @entertainments) do |date, entertainments|%>
  <% if entertainments.any? %>
    <%= link_to entertainment_path(entertainments.first), class: "calendar-accepted" do %>
      <%= date.day %>
    <% end %>
  <% else %>
    <%= date.day %>
  <% end %>
<% end %>

<div class="container-dashboard">

<div class="artist-profile">
  <div class="artist-profile-photo-group">
    <% @user.photos.each do |photo| %>
      <%= image_tag url_for(photo), controls: true, size: "130x130", alt: @user.artist_name, class: "artist-profile-photo rounded-circle" %>
    <% end %>
  </div>

  <h1 class="artist-profile-name"><%= @user.artist_name %></h1>
  <p class="artist-profile-bio"><%= @user.bio %></p>
</div>

  <%# <h2>Mes propositions en attente</h2> %>

  <h2>Mes propositions en attente</h2>

  <section class="splide" data-controller="carousel" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <% @applications.where(status: "Proposé").each do |application| %>
         <%= render "application_card", application: application, status_class: "application-card-status-proposed" %>
        <% end %>
      </ul>
    </div>
  </section>

  <h2>Mes proposition validé</h2>

  <section class="splide" data-controller="carousel" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <% @applications.where(status: "Validé").each do |application| %>
         <%= render "application_card", application: application, status_class: "application-card-status-validate" %>
        <% end %>
      </ul>
    </div>
  </section>

  <h2>Mes candidatures en attente</h2>

  <section class="splide" data-controller="carousel" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <% @applications.where(status: "En cours").each do |application| %>
         <%= render "application_card", application: application, status_class: "application-card-status-pending" %>
        <% end %>
      </ul>
    </div>
  </section>

  <h2>Mes candidatures en accepté</h2>

  <section class="splide" data-controller="carousel" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
      <ul class="splide__list">
        <% @applications.where(status: "Accepté").each do |application| %>
         <%= render "application_card", application: application, status_class: "application-card-status-accepted" %>
        <% end %>
      </ul>
    </div>
  </section>



  <h2 id="epk-title">Mon EPK</h2>
  <div class= "d-flex justify-content-center align-items-center">
    <button class= "top-right-btn">
      <%= link_to epk_path do %>
        Actualiser
      <% end %>
    </button>
  </div>

</div>
